.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 10px;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 70%;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
    border-style: solid;
    border-color: #55A4C8;
    width: 100px;
    height: 100px;
}

.ingredients{
    margin-left: 25px;
    
}

.h1{
    text-align: center;
}

.calories{
    text-align: center;
}